.navbar.desktop {
  .nav-links {
    background: rgba(255, 255, 255, 0.92);
    box-shadow: 0px 4px 13px rgba(112, 34, 34, 0.1);
    backdrop-filter: blur(4.5px);

    padding: 1rem 5vw;
    ul {
      display: flex;
      justify-content: space-between;
      .left,
      .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      .middle {
        width: 100%;
      }
      li {
        // width: calc(100%/6);
        text-align: center;
        a {
          color: #817800;
        }
        button {
          background-color: #feed01;
          img {
            display: block;
          }
        }
        button:hover {
          cursor: pointer;
        }
        button.call {
          border-radius: 50%;
          padding: 0.75rem;
        }
        button.login {
          border-radius: 1.5rem;
          padding: 0.5rem 1.75rem;
          font-weight: 400;
          color: #817800;
          font-size: 1rem;
        }
      }
    }
  }
}
.navbar.mobile {
  display: none;
}
@media screen and (max-width: 820px) {
  .navbar.desktop {
    display: none;
  }
  .navbar.mobile {
    display: block;
    width: 100%;
    .nav-links {
      position: absolute;
      width: 100%;
      background-color: #fff;
      height: 100vh;
      transition: 0.2s ease;
      transform: translateX(-100%);
      ul {
        margin-top: 4rem;
        li {
          text-align: center;
          padding: 2rem 0;
          a {
            font-size: 1.5rem;
            color: #000;
            font-weight: 600;
          }
          button {
            border-radius: 1.5rem;
            padding: 0.5rem 1.75rem;
            font-weight: 400;
            color: #817800;
            background-color: #feed01;
            font-size: 1rem;
          }
        }
      }
    }
    .nav-links.active {
      transform: translateX(0%);
    }
    .main-menu {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 5%;
      background-color: #fff;
      box-shadow: 2px 2px 10px 10px #b5b5b53b;
      .col {
        .ham-menu {
          position: relative;
          z-index: 9;
          width: 1.75rem;
          span {
            border: 2px solid #000;
            display: block;
            margin: 0.25rem 0;
            transition: 0.3s ease;
          }
        }
        .ham-menu.active {
          position: fixed;
          span {
            margin: 0;
          }
          span:first-child {
            transform: rotate(45deg) translateX(2px);
          }
          span:nth-child(2) {
            display: none;
          }
          span:last-child {
            transform: rotate(-45deg) translateX(2px);
          }
        }
        .logo {
          width: 5rem;
          img {
            width: 100%;
          }
        }
        .call {
          button {
            background-color: #feed01;
            border-radius: 50%;
            padding: 0.75rem;
            img {
              display: block;
            }
          }
        }
      }
    }
  }
}
